@use "varibles" as *;

@media (min-width: 800px) {
  .nav {
    position: relative;
    &__main {
      display: flex;
      justify-content: space-between;
      margin-left: 10rem;
    }

    &__logo {
      position: absolute;
    }

    &__menu {
      display: none;
    }

    &-left, &-right {
      display: flex;
    }
  }


  .main {
    display: grid;
    grid-template-columns: 0.09fr 0.39fr 0.09fr 0.33fr 0.09fr;
    grid-template-areas: ". main . hero .";
  }

  .content {
    grid-area: main;
    align-self: center;
    padding: 8rem 0.5rem 0rem 2rem;
    &__blurb {
      text-align: left;
      &-heading {
        font-size: $fs-800;
        font-weight: 700;
        padding: 0 0 2.5rem 0;
        line-height: 1.05;
      }
      &-para {
        font-size: $fs-400;
        font-weight: 500;
        line-height: 1.65;
        padding: 0 0 2.5rem 0;
      }
    }
    &__blurb-btn {
      padding: 0.75rem 1.375rem;
      margin-block: 1.25rem;
      border-radius: $fs-400;
    }
    &__clients {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.25rem 0rem;
      img {
        width: 100%;
      }
    }
  }

  .hero-img {
    grid-area: hero;
    content: url(/images/image-hero-desktop.png);
    padding: 0;
    width: 100%;
    align-self: center;
  }
}
