@use "varibles" as *;

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: $clr-n-MediumGray;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: $clr-n-AlmostBlack;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu-mobile {
  position: absolute;
  right: 2rem;
  top: 4rem;
  background-color: lightblue;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: .20;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav {
  &__mobile {
    display: flex;
    justify-content: space-between;
  }
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

.content {
  &__blurb {
    text-align: center;
    &-heading {
      font-size: $fs-600;
      font-weight: 700;
      padding-block: 2.5rem 0.25rem;
    }
    &-para {
      font-size: $fs-400;
      font-weight: 500;
      line-height: 1.65;
      padding: 0.25rem 1rem;
    }
  }

  &__blurb-btn {
    border: none;
    background-color: $clr-n-AlmostBlack;
    color: $clr-n-AlmostWhite;
    font-size: $fs-400;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    margin-block: 1.25rem;
    border-radius: $fs-400;
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    img {
      height: 100%;
      width: 20vw;
    }
  }
}

.hero-img {
  content: url(/images/image-hero-mobile.png);
  padding-block: 0.25rem;
}

.footer {
  padding: 1rem;
  font-size: $fs-200;
  text-align: center;
  &-link {
    text-decoration: none;
    color: $clr-n-MediumGray;
    &:hover {
      color: $clr-n-AlmostBlack;
    }
  }
}
