@use "varibles" as *;

.btn {
    background: none;
}

.nav {
  padding: 1.25rem 1rem;

  &__desktop {
    display: none;
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .menu-btn {
    border: none;
    padding: 0.25rem;
    margin-right: -0.25rem;
  }
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

.content {
  &__blurb {
    text-align: center;
    &-heading {
      font-size: $fs-600;
      font-weight: 700;
      padding-block: 2.5rem 0.25rem;
    }
    &-para {
      font-size: $fs-400;
      font-weight: 500;
      line-height: 1.65;
      padding: 0.25rem 1rem;
    }
  }

  &__blurb-btn {
    border: none;
    background-color: $clr-n-AlmostBlack;
    color: $clr-n-AlmostWhite;
    font-size: $fs-400;
    font-weight: 500;
    padding: 0.75rem 1.375rem;
    margin-block: 1.25rem;
    border-radius: $fs-400;
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    img {
        height: 100%;
        width: 20vw;
    }
  }
}

.hero-img {
  content: url(/images/image-hero-mobile.png);
  padding-block: 0.25rem;
}

.footer {
    padding: 1rem;
    font-size: $fs-200;
    text-align: center;
    &-link {
        text-decoration: none;
        color: $clr-n-MediumGray;
        &:hover {
            color: $clr-n-AlmostBlack
        }
    }
}