@use "varibles" as *;

body {
  overflow-x: hidden;
  background-color: $clr-n-AlmostWhite;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: $clr-n-MediumGray;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  &:hover {
    color: $clr-n-AlmostBlack;
  }
}

.dropdown {
  position: relative;
  z-index: 1;

}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $clr-n-AlmostWhite;
  left: 0;
  top: 0;
  padding: 1.5rem 0 0 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0ms ease-in, transform 150ms ease-in;
  transform: translateY(-10px);
  li {
    display: flex;
    align-items: center;
    img {
      margin-right: 1rem;
    }
  }
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transition: 250ms;
  transition-timing-function: ease-out;
  transform: translateY(0);
  pointer-events: auto;
  position: unset;
}

.dropdown.active .nav__btn img {
  content: url(../images/icon-arrow-up.svg);
}

li {
  list-style: none;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.35rem 1rem;

  &__list,
  &__list-1,
  &__list-2 {
    display: flex;
    flex-direction: column;
  }

  &__list {
    position: absolute;
    display: flex;
    right: 0;
    top: 4rem;
    bottom: 0;
    padding: 1rem 1.5rem;
    background-color: $clr-n-AlmostWhite;
    opacity: 0;
    width: 64vw;
    transform: translateX(100%);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  }

  &__sub-li {
    padding-bottom: 1rem;
  }


  &__list-2 {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: $fs-300;
    padding: 1rem 0rem;
  }

  &__list.active {
    opacity: 1;
    transform: translateX(0);
  }

  &__list.active > .nav__burger {
    content: url(../images/icon-close-menu.svg);
  }

  &__btn {
    display: flex;
    align-items: center;
    img {
      content: url(../images/icon-arrow-down.svg);
      margin-left: 1rem;
    }
  }

  &__register {
    width: 100%;
    margin: .75rem;
    padding: .5rem 0;
    border: 2px solid $clr-n-AlmostBlack;
    border-radius: .75rem;
  }
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

.content {
  &__blurb {
    text-align: center;
    &-heading {
      font-size: $fs-700;
      font-weight: 700;
      padding-block: 2.5rem 0.25rem;
    }
    &-para {
      line-height: 1.65;
      padding: 0.25rem 1rem;
    }
  }

  &__blurb-btn {
    border: none;
    background-color: $clr-n-AlmostBlack;
    color: $clr-n-AlmostWhite;
    padding: 0.75rem 1.375rem;
    margin-block: 1.25rem;
    border-radius: $fs-400;
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    img {
      width: 20%;
    }
  }
}

.hero-img {
  content: url(../images/image-hero-mobile.png);
  padding-block: 0.25rem;
}

.footer {
  padding: 1rem;
  font-size: $fs-200;
  text-align: center;
  &-link {
    text-decoration: none;
    color: $clr-n-MediumGray;
    &:hover {
      color: $clr-n-AlmostBlack;
    }
  }
}
