$clr-n-AlmostWhite: hsl(0, 0%, 98%);
$clr-n-MediumGray: hsl(0, 0%, 41%);
$clr-n-AlmostBlack: hsl(0, 0%, 8%);

$fs-200: 0.671rem;
$fs-300: 0.85rem;
$fs-400: 1.2rem;
$fs-500: 1.61rem;
$fs-600: 2.22rem;
$fs-700: 3.03rem;
$fs-800: 5rem;