@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$-clr-n-AlmostWhite: hsl(0, 0%, 98%);
$-clr-n-MediumGray: hsl(0, 0%, 41%);
$-clr-n-AlmostBlack: hsl(0, 0%, 8%);


body {
    font-family: 'Epilogue', sans-serif;
}