@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ol,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.link {
  background: none;
  border: none;
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}
.link:hover {
  color: hsl(0deg, 0%, 8%);
}

.dropdown {
  position: relative;
}

.dropdown-menu-mobile {
  position: absolute;
  right: 2rem;
  top: 4rem;
  background-color: lightblue;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.2;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav__mobile {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

.content__blurb {
  text-align: center;
}
.content__blurb-heading {
  font-size: 2.22rem;
  font-weight: 700;
  padding-block: 2.5rem 0.25rem;
}
.content__blurb-para {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.65;
  padding: 0.25rem 1rem;
}
.content__blurb-btn {
  border: none;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.75rem 1.375rem;
  margin-block: 1.25rem;
  border-radius: 1.2rem;
}
.content__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  width: 100%;
}
.content__clients img {
  height: 100%;
  width: 20vw;
}

.hero-img {
  content: url(/images/image-hero-mobile.png);
  padding-block: 0.25rem;
}

.footer {
  padding: 1rem;
  font-size: 0.671rem;
  text-align: center;
}
.footer-link {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
}
.footer-link:hover {
  color: hsl(0deg, 0%, 8%);
}

@media (min-width: 800px) {
  .nav {
    position: relative;
  }
  .nav__main {
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
  }
  .nav__logo {
    position: absolute;
  }
  .nav__menu {
    display: none;
  }
  .nav-left, .nav-right {
    display: flex;
  }

  .main {
    display: grid;
    grid-template-columns: 0.09fr 0.39fr 0.09fr 0.33fr 0.09fr;
    grid-template-areas: ". main . hero .";
  }

  .content {
    grid-area: main;
    align-self: center;
    padding: 8rem 0.5rem 0rem 2rem;
  }
  .content__blurb {
    text-align: left;
  }
  .content__blurb-heading {
    font-size: 5rem;
    font-weight: 700;
    padding: 0 0 2.5rem 0;
    line-height: 1.05;
  }
  .content__blurb-para {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.65;
    padding: 0 0 2.5rem 0;
  }
  .content__blurb-btn {
    padding: 0.75rem 1.375rem;
    margin-block: 1.25rem;
    border-radius: 1.2rem;
  }
  .content__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.25rem 0rem;
  }
  .content__clients img {
    width: 100%;
  }

  .hero-img {
    grid-area: hero;
    content: url(/images/image-hero-desktop.png);
    padding: 0;
    width: 100%;
    align-self: center;
  }
}
body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */