@use "reset";
@use "varibles" as *;
@use "mobile";
@use "desktop";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");



html {
    font-family: "Epilogue", sans-serif;
    font-size: $fs-400;
    font-weight: 500;
}